body {
    //overflow:hidden;
}
footer
{
    
    margin-top:100%;
    position:fixed;
    width:100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#2d2a2a;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#191818;
}

.content-cover {
    height:90%;
    width: 100%;
    //border: 1px solid #ABB2B9;
    margin-top: 4%;
    margin-bottom:6%;
    overflow:auto;
    position:absolute;
    padding:10px;
}

.container .row .col {
    border: 1px solid #ebecf0;
    //margin: 10px;
    //border-radius: 5px;
    padding: 0px;
    width: 100%;
    margin: 10px;
    background-color: #ebecf0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.list-group .card {
   margin:10px;
    /*padding:5px;*/
    border-color: #F2F3F4;
    border-bottom-color: seagreen;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    color:black;
    padding:0;
}

.row .col .card-body {
    overflow: auto;
    height: 305px;
    margin: 0;
    padding: 0px;
   
}

.list-group .card .card-body {
    overflow: hidden;
    height:455px;
}


.status-progress-btn {
    width: 25px;
    height: 25px;
    background-color: seagreen;
}
.status-done-btn {
    width: 25px;
    height: 25px;
    background-color: #415A77;
}
.cal-btn {
    border-radius: 5px;
}
.add-btn {
    box-shadow: none;
    font-size: 12pt;
    margin-left: -5px;
    padding-left: 10px;
    height: 50px;
    width: 105%;
}

.add-btn:hover {
    color: lightgrey;
    background-color: #496585;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.container .row .inprogress {
    background-color: #415A77;
    border-color: #415A77;
}
.container .row .done {
    background-color: seagreen;
    border-color: seagreen;
}
.container .row .late {
    background-color: #D0693A;
    border-color: #D0693A;
}


.btn-change-status-done {
    margin-left: 0px;
    height: 100%;
    margin-top: 0;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    background-color: #415A77;
    padding: 15px;
    z-index: 0 !important;
    color: white;
}

.btn-change-status-inprogress {
    margin-top: 0px;
    margin-right: -1px;
    height: 100%;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: seagreen;
    padding: 15px;
    z-index: 0 !important;
    color:white;
}

.bd{
    border:0;
}

.edit-cover{
    width:100%;
    position:fixed;
    margin-top:60px;
    position:absolute;
    height:90%;
   
    //visibility:hidden;
}
.edit-content {
    width: 80%;
    height: 80%;
    background-color: white;
    opacity: 1;
    position: absolute;
    z-index: 10;
    margin-top: 3%;
    margin-left: 10%;
    padding: 0px;
    overflow: auto;
}

.blur-bg {
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.5;
    position:absolute;
}

.close{
    margin-top:0;
    margin-right:0;
}

.content{
    width:80%;
}
.btnmennu {
    border: none;
    padding: 7px 7px;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 7px;
}
  
    .detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 80%;
    }

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
   }

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

    .commentList li {
        margin: 0;
        margin-top: 10px;
    }

        .commentList li > div {
            display: table-cell;
        }

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

    .commenterImage img {
        width: 100%;
        border-radius: 50%;
    }

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}